<!DOCTYPE html>
<html>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
  
    const jup = async () => {
        let res = await axios.get("http://localhost:3001/resources/Rooster.opus",{
                    responseType: 'blob'
        })
        let audioelem = document.createElement('audio');
        audioelem.src = URL.createObjectURL(res.data)
        audioelem.type = 'audio/ogg'

        audioelem.play()

    }
    jup()
    </script>
    <body>

    </body>
</html>

